/* CURSORS*/

  .path-full{
    animation: animate 0.25s infinite;
  }

  @keyframes animate{
    0%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
    }
    20%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_2.png"), auto;
    }
    40%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_3.png"), auto;
    }
    60%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_4.png"), auto;
    }
    80%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_5.png"), auto;
    }
    100%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
    }
  }

  .death {
    /* cursor: none; */
  }


.game-port, .path-full, .path-way-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.game-port {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.death {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: pink;
  height: 100vh;
}

.path-way-1 {
  position: fixed;
  top: 0;
  width: 0%;
  background-color: green;
  height: 0vh;
  overflow: hidden;
  animation: thin 35s;
}

.ani-thin {
  animation: thin 35s;
}

.path-way-2 {
  position: fixed;
  margin-top: -20000px;
  width: 10%;
  height: 20000px;
  background: linear-gradient(to top, red,orange,yellow,green,blue,indigo,violet); 
}

.ani-move {
  animation: move;
  animation-duration: 42s;
  animation-delay: 33.25s;
}

.path-bit {
  position: relative;
  height: 100px;
  width: 10%;
  background-color: blue;
}

.ani-move {
  animation: move 42s;
  animation-delay: 33.25s;
}

.death:hover {
  background-color: red;
}

@keyframes thin {
  0%   {height: 100vh; width: 15%;}
  33.3333333%  {width: 15%;}
  73.3333333%  {width: 7%;}
  75% {margin-left: 0%}
  80% {margin-left: 2%}
  83% {margin-left: -2%}
  84% {margin-left: 5%}
  85% {margin-left: -5%}
  90% {margin-left: 0%}
  92% {margin-left: -10%}
  93% {margin-left: 10%;}
  95% {margin-left: 0%; margin-top: 0vh;}
  100% {height: 100vh; width: 10%; margin-left: 0%; margin-top: 100vh;}
}

@keyframes move {
  0% {margin-top: -20000px; width: 10%;}
  100% {margin-top: 100vh; width: 10%;}
}

