/* CURSORS*/

  .path-full{
    animation: animate 0.25s infinite;
  }

  @keyframes animate{
    0%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
    }
    20%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_2.png"), auto;
    }
    40%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_3.png"), auto;
    }
    60%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_4.png"), auto;
    }
    80%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_5.png"), auto;
    }
    100%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
    }
  }

  .death {
    /* cursor: none; */
  }

.game-port, .path-full, .path-way-2 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-port {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.death {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: pink;
  height: 100vh;
}

.path-way-1 {
  position: fixed;
  top: 0;
  width: 0%;
  height: 0vh;
  background-color: green;
  overflow: hidden;
  animation: thin 35s;
}

.ani-thin {
  animation: thin 35s;
}

.path-way-2 {
  position: fixed;
  top: -100vh;
  width: 10%;
  height: 20000px;
  background-color: purple;
}

.ani-move {
  animation: move;
  animation-duration: 42s;
  animation-delay: 33.25s;
}

.path-bit {
  position: relative;
  height: 100px;
  width: 10%;
  background-color: blue;
}

/* CHILD */

  .path-bit:nth-child(0) {
    top: 0px;
  }

  .path-bit:nth-child(1) {
    top: 200px;
  }

  .path-bit:nth-child(2) {
    top: 400px;
  }

  .path-bit:nth-child(3) {
    top: 600px;
  }

  .path-bit:nth-child(4) {
    top: 800px;
  }

  .path-bit:nth-child(5) {
    top: 1000px;
  }

  .path-bit:nth-child(6) {
    top: 1200px;
  }

  .path-bit:nth-child(7) {
    top: 1400px;
  }

  .path-bit:nth-child(8) {
    top: 1600px;
  }

  .path-bit:nth-child(9) {
    top: 1800px;
  }

  .path-bit:nth-child(10) {
    top: 2000px;
  }

  .path-bit:nth-child(11) {
    top: 2200px;
  }

  .path-bit:nth-child(12) {
    top: 2400px;
  }

  .path-bit:nth-child(13) {
    top: 2600px;
  }

  .path-bit:nth-child(14) {
    top: 2800px;
  }

  .path-bit:nth-child(15) {
    top: 3000px;
  }

  .path-bit:nth-child(16) {
    top: 3200px;
  }

  .path-bit:nth-child(17) {
    top: 3400px;
  }

  .path-bit:nth-child(18) {
    top: 3600px;
  }

  .path-bit:nth-child(19) {
    top: 3800px;
  }

  .path-bit:nth-child(20) {
    top: 4000px;
  }

  .path-bit:nth-child(21) {
    top: 4200px;
  }

  .path-bit:nth-child(22) {
    top: 4400px;
  }

  .path-bit:nth-child(23) {
    top: 4600px;
  }

  .path-bit:nth-child(24) {
    top: 4800px;
  }

  .path-bit:nth-child(25) {
    top: 5000px;
  }

  .path-bit:nth-child(26) {
    top: 5200px;
  }

  .path-bit:nth-child(27) {
    top: 5400px;
  }

  .path-bit:nth-child(28) {
    top: 5600px;
  }

  .path-bit:nth-child(29) {
    top: 5800px;
  }

  .path-bit:nth-child(30) {
    top: 6000px;
  }

  .path-bit:nth-child(31) {
    top: 6200px;
  }

  .path-bit:nth-child(32) {
    top: 6400px;
  }

  .path-bit:nth-child(33) {
    top: 6600px;
  }

  .path-bit:nth-child(34) {
    top: 6800px;
  }

  .path-bit:nth-child(35) {
    top: 7000px;
  }

  .path-bit:nth-child(36) {
    top: 7200px;
  }

  .path-bit:nth-child(37) {
    top: 7400px;
  }

  .path-bit:nth-child(38) {
    top: 7600px;
  }

  .path-bit:nth-child(39) {
    top: 7800px;
  }

  .path-bit:nth-child(40) {
    top: 8000px;
  }

  .path-bit:nth-child(41) {
    top: 8200px;
  }

  .path-bit:nth-child(42) {
    top: 8400px;
  }

  .path-bit:nth-child(43) {
    top: 8600px;
  }

  .path-bit:nth-child(44) {
    top: 8800px;
  }

  .path-bit:nth-child(45) {
    top: 9000px;
  }

  .path-bit:nth-child(46) {
    top: 9200px;
  }

  .path-bit:nth-child(47) {
    top: 9400px;
  }

  .path-bit:nth-child(48) {
    top: 9600px;
  }

  .path-bit:nth-child(49) {
    top: 9800px;
  }

  .path-bit:nth-child(50) {
    top: 10000px;
  }

  .path-bit:nth-child(51) {
    top: 10200px;
  }

  .path-bit:nth-child(52) {
    top: 10400px;
  }

  .path-bit:nth-child(53) {
    top: 10600px;
  }

  .path-bit:nth-child(54) {
    top: 10800px;
  }

  .path-bit:nth-child(55) {
    top: 11000px;
  }

  .path-bit:nth-child(56) {
    top: 11200px;
  }

  .path-bit:nth-child(57) {
    top: 11400px;
  }

  .path-bit:nth-child(58) {
    top: 11600px;
  }

  .path-bit:nth-child(59) {
    top: 11800px;
  }

  .path-bit:nth-child(60) {
    top: 12000px;
  }

  .path-bit:nth-child(61) {
    top: 12200px;
  }

  .path-bit:nth-child(62) {
    top: 12400px;
  }

  .path-bit:nth-child(63) {
    top: 12600px;
  }

  .path-bit:nth-child(64) {
    top: 12800px;
  }

  .path-bit:nth-child(65) {
    top: 13000px;
  }

  .path-bit:nth-child(66) {
    top: 13200px;
  }

  .path-bit:nth-child(67) {
    top: 13400px;
  }

  .path-bit:nth-child(68) {
    top: 13600px;
  }

  .path-bit:nth-child(69) {
    top: 13800px;
  }

  .path-bit:nth-child(70) {
    top: 14000px;
  }

  .path-bit:nth-child(71) {
    top: 14200px;
  }

  .path-bit:nth-child(72) {
    top: 14400px;
  }

  .path-bit:nth-child(73) {
    top: 14600px;
  }

  .path-bit:nth-child(74) {
    top: 14800px;
  }

  .path-bit:nth-child(75) {
    top: 15000px;
  }

  .path-bit:nth-child(76) {
    top: 15200px;
  }

  .path-bit:nth-child(77) {
    top: 15400px;
  }

  .path-bit:nth-child(78) {
    top: 15600px;
  }

  .path-bit:nth-child(79) {
    top: 15800px;
  }

  .path-bit:nth-child(80) {
    top: 16000px;
  }

  .path-bit:nth-child(81) {
    top: 16200px;
  }

  .path-bit:nth-child(82) {
    top: 16400px;
  }

  .path-bit:nth-child(83) {
    top: 16600px;
  }

  .path-bit:nth-child(84) {
    top: 16800px;
  }

  .path-bit:nth-child(85) {
    top: 17000px;
  }

  .path-bit:nth-child(86) {
    top: 17200px;
  }

  .path-bit:nth-child(87) {
    top: 17400px;
  }

  .path-bit:nth-child(88) {
    top: 17600px;
  }

  .path-bit:nth-child(89) {
    top: 17800px;
  }

  .path-bit:nth-child(90) {
    top: 18000px;
  }

  .path-bit:nth-child(91) {
    top: 18200px;
  }

  .path-bit:nth-child(92) {
    top: 18400px;
  }

  .path-bit:nth-child(93) {
    top: 18600px;
  }

  .path-bit:nth-child(94) {
    top: 18800px;
  }

  .path-bit:nth-child(95) {
    top: 19000px;
  }

  .path-bit:nth-child(96) {
    top: 19200px;
  }

  .path-bit:nth-child(97) {
    top: 19400px;
  }

  .path-bit:nth-child(98) {
    top: 19600px;
  }

  .path-bit:nth-child(99) {
    top: 19800px;
  }



.death:hover {
  background-color: red;
}

@keyframes thin {
  0%   {height: 100vh; width: 15%;}
  33.3333333%  {width: 15%;}
  73.3333333%  {width: 10%;}
  75% {margin-left: 0%}
  80% {margin-left: 2%}
  83% {margin-left: -2%}
  84% {margin-left: 5%; width: 7%}
  85% {margin-left: -5%; width: 7%}
  90% {margin-left: 0%}
  92% {margin-left: -10%}
  93% {margin-left: 10%;}
  95% {margin-left: 0%; margin-top: 0vh;}
  100% {height: 100vh; width: 10%; margin-left: 0%; margin-top: 100vh;}
}

@keyframes move {
  0% {margin-top: 0px}
  3% {margin-top: 100vh;}
  100% {margin-top: 20000px;}
}

